@charset "utf-8";

/* import from normalize.css */
@import "normalize.css";

/* import from var */
@import "var/_color.css";

/* import from base */
@import "base/_base.css";


html {
  font-family: Futura,Avenir,sans-serif;
}

.title {
  background-color: #ccc;
  &__description {
    color: white;
  }
}

ul {
  list-style: none;
  padding: 0;
}