@charset "utf-8";

/* import from normalize.css */
@import "_normalize.css";

/* import from var */
/* @import "_color.css"; */

/* import from base */
@import "_base.css";



.header {
  height: 80px;
  width: 100%;
  background-color: #e7d9c0;
  position: relative;
}

.header__title {
  position: absolute;
  top: 20px;
  text-align: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
}
